body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.main-box {
    width: 700px;
    height: 400px;
    border: 2px solid teal;
    display: flex;
}

.temperature-box {
    flex: 1;
    border: 1px solid teal;
    color: teal;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.temperature {
    display: flex;
}



.heading p {
    font-size: 20px;
    font-weight: bold;
    padding-left: 15px;
    margin-top: 30px;

}

/*Value input*/
.degree-value p {
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px;
    padding-left: 15px;
}

.degree-value input {

    margin-left: 15px;
    padding-right: 6px;
    padding-left: 10px;
    height: 23px;
    width: 192px;
}

/*unit select*/
.degree-value select {
    width: 53px;
    margin: -5px;
    height: 27px;
    padding-left: 8px;
}

/*Covert In*/

.drop-down p {
    font-size: 13px;
    ;
    font-weight: bold;
    padding-left: 15px;
    margin-top: 36px;
}

.drop-down select {
    width: 81%;
    margin-left: 15px;
    margin-right: 15px;
    height: 28px;
    padding-left: 10px;
}



/*result Button*/

.temperature-show {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

.temperature-submit button {
    border-radius: 70px;
    height: 40px;
    width: 120px;
    background-color: teal;
    font-size: 15px;
    border: 2px solid teal;
    color: white;
    margin: 30px;
    margin-top: 55px;
    margin-right: 30px;
}


.temperature-result {
    flex: 1;
    border: 1px solid teal;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;


    font-size: xx-large;
    font-weight: bolder;
    color: white;

}

#result {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;

}

#degSymbol {
    position: relative;
    bottom: 26px;
    right: 10px;
    font-size: large;
    font-weight: bold;
}

#resultUnit {
    position: relative;
    bottom: 26px;
    right: 18px;
    font-size: large;
    font-weight: bold;
}